* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1.2rem 0;
    padding: 0.625rem;
    background: rgb(84, 4, 4);
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0.325rem 0;
}

.contact-info-container h2 {
    margin: 0.325rem 0;
}

.contact-span {
    font-weight: bolder;
}

.contact-info-container p {
    margin: 0.225rem 0;
}

.my-account-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0.325rem 0;
}

.my-account-container h2 {
    margin: 0.325rem 0;
}

.my-account-container ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-links {
    text-decoration: none;
    color: black;
    
}

.footer-links li {
    list-style-type: none;
    margin: 0.325rem 0;
}

.footer-links li:hover {
    color: orange;
}


