* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.most-popular-dishes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1.2rem;
    max-width: 100%;
    width: 100%;
    height: 400px;
}

.dish-cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
}